body {
    font-family: Arial, Arial Bold;
    font-size:15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
/*Global*/
.container {
    width: 80%;
    margin: auto; /*Move the contents to the middle*/
    overflow: hidden;
}

a {
    color: #000;
  }
  
  /* header */
  
  .header {
    background-color: #2c3c56;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
   
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color:#2c3c56;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #2c3c56;
    text-decoration: none;
    color: #ffffff;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #ffffff;;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  
  

.background {
    min-height: 50vh;
    width: 100%;
    background-image: url('../photo.jpg');
    background-color: #cccccc; 
    height: 500px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    border-bottom: #97b134 3px solid; 
}

h1 {
    margin-top: 20px;
    text-align: center;
    color: #333;
}
h2 {
    color: #97b134;
}

.column {
    margin-top:20px;
    float: left;
    width: 31%;
    padding: 10px;
    color: #333;

  }
.columnContainer {
    padding: 10px 100px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }


@media(max-width: 600px){
 
    .column { 
        width: 100%;
      }
}


@media (min-width: 600px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }